@charset "UTF-8";
/* base */
/*
======= general style =======
*/
ul li {
	display:block;
}
.reset {
	clear:both;
}
/*
======= body =======
*/
html, body{
	text-align:center;
}
body{
    font-size:90%;
	color:#5254a5;
	line-height:1.5;	
	background-color:#e5e5e5;
	text-align:center;
	margin:0 auto;
}
#wrapper {
	position:relative;
	z-index:1;
	width:100% ;
	overflow:hidden;
	clear:both;
	}
/*
======= 文字 =======
*/

a {
	color:# 333;
	text-decoration:none;
}
a:hover,a:active {
	color:#623265;
	text-decoration:none;
}
/*
======= footer =======
*/
#footer{
	width: 100%;
	clear:both;
}
#footer ul{
	width:100%;
	height:75px;
	background: -moz-linear-gradient(top, #333333, #000000); /* Firefox */
	background: -webkit-linear-gradient(top, #333333, #000000); /* Safari5.1-, Chrome10- */
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000)); /* Safari5.0 */
	background: -o-linear-gradient(top, #333333, #000000); /* Opera10- */
}
#footer ul li{
	width: 49%;
	height:75px;
	float:left;
	list-style:none;	
}
a.f_btn_l,a.f_btn_r{
	color: #f1f1f1;
	display:block;
	text-align:center;
	font-weight: bold;
	padding-top:52px;
	font-size:12px;
}
.f_btn_l{
		background-image:url(../images/icon_home.png);
		background-repeat:no-repeat;
		background-position:center 12px;
		border-right:#484848 1px solid;
}
.f_btn_r{
		background-image: url(../images/icon_set.png);
		background-repeat:no-repeat;
		background-position:center 12px;
	border-left:#a5a6a4 1px solid;
}
.f_btn_l a,.f_btn_r a{
	color: #f1f1f1;
}

/*
======= 調整用 =======
*/
.mt_10{margin-top:10px;}